html{
    scroll-behavior: smooth;
}
header{
    max-width: 78rem;
    margin: auto;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: max-width 0.5s ease;
}
h1{
    color: white !important;
}
.space{
    background-color: transparent;
    height: 40px;
}
a{
    text-decoration:none !important;
}
.nav2{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    background-image: linear-gradient(to right, #0d1d31, #0c0d13 );
    padding: 12px 20px;
    box-shadow: 0px 0px 20px  #18314f;
    color: white;
    z-index: 1000;
    margin: 0;
}
.Logo{
    display: flex;
    margin-right: auto;
    align-items: center;
}
.logo_name{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: calc(1rem + 1.3vw);
    transition-property:  text-shadow ;
    transition-duration: .3s;
}
.logo_name:hover{
    text-shadow: 0px 0px 10px  white;
}
.nav2 .Logo img{
    padding: 7px;
    width: 45px;
    border: 1px dashed var(--primary);
    border-radius: 50%;
    margin-right: 5px;
}
.more{
    display: none;
}
.less{
    display: block;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-block: 20px;
    margin-right: 28px;
    transition-property:  text-shadow ;
    transition-duration: .2s;
}
.first_link{
    margin-top: 0px;
}
.link:hover{
    text-shadow: 0px 0px 20px  white,
                 0px 0px 20px  white,
                 0px 0px 20px  white;
}
.active{
    text-shadow: 0px 0px 20px  white,
                 0px 0px 20px  white,
                 0px 0px 20px  white;
    text-decoration: none;
}
/* Dropdown menu start */
.hover_container {
    position: relative;
    width: max-content;
}
.menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    width: 160px;
    border: 1px solid rgb(214, 199, 199);
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu ul li a {
    text-decoration: none;
    color: rgb(81, 80, 80);
    display: block;
    width: 100%;
    padding-block: 15px;
    padding-left: 5px;
}

.menu ul li a:hover {
    color: rgb(81, 80, 80);

    background-color: rgb(245, 242, 242);
}
.hover_text{
    display: inline-block;
    padding-block: 30px;
}
.hover_container:hover .menu {
    visibility: visible;
    opacity: 1;
}
.fa-angle-down{
    transition: transform .5s;
}
.hover_container:hover .fa-angle-down{
    transform: rotate(180deg);
}
.active2{
    color: white !important;
    background-color: var(--primary) !important;
}
.content{
    display: none;
}
.list{
    height: 0;
    overflow: hidden;
}
.proj{
    background-color: rgb(13,29,49, 0.9);
    max-width: 73rem !important;
    cursor: pointer;
}
.proj .row{
    max-width: 80%;
    margin: auto;
}
.tags{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    color: white !important;
    flex-wrap: wrap;
}
.tags .tag{
    background-color: rgba(83, 83, 83, .4);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
    height: fit-content;
}
.tags .tag:hover{
    background-color: rgba(224, 211, 211, 0.4) !important;
}
.bi-github, .bi-broadcast{
    color: white;
    transition: color 0.5s;
}
.bi-github:hover, .bi-broadcast:hover{
    color: #0073ff;
}
.lin{
    width: 80%;
    height: 2px;
    background-color: #424242;
    margin: auto;
    transition: background-color 0.5s;
}
.proj:hover .lin{
    background-color: #332469;
}
.descreption{
    max-width: 55rem;
    margin: auto;
    color: white !important;
}
.descreption p, .descreption li{
    font-size: 17px !important;
}
@media  screen and (width < 600px) {
    .content{
        display: inline-block;
        font-size: 30px;
        background: transparent;
        color: white;
        border: none;
        transition: transform, 0.5s;

    }
    .nav_ele{
        display: none;
    }
    .list{
        color: white !important;
        background-color: #09192d;
        border-radius: 5px;
        transition: height .5s, padding .5s;
        position: sticky;
        top: 70px;
        z-index: 1000;
    }
    a{
        color: white !important;

    }

}
@media  screen and (width < 1100px) {
    .top{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .tags{
        justify-content: center;
    }
    .space{
        height: 0;
    }
}

