/* Header */
html{
    scroll-behavior: smooth;
}
#preloader{
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    z-index: 1000000000;
    background-color: #09192d !important;
    display: grid;
	place-items: center;
	transition: background-color var(--trans-dur) !important;

}
.ip {
	width: 16em;
	height: 8em;
}
.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}
header{
    max-width: 78rem;
    margin: auto;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: max-width 0.5s ease;
}
.space{
    background-color: transparent;
    height: 40px;
}
a{
    text-decoration:none !important;
}
.nav2{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    background-image: linear-gradient(to right, #0d1d31, #0c0d13 );
    padding: 12px 20px;
    box-shadow: 0px 0px 20px  #18314f;
    color: white;
    z-index: 1000;
    margin: 0;
}
.Logo{
    display: flex;
    margin-right: auto;
    align-items: center;
}
.logo_name{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: calc(1rem + 1.3vw);
    transition-property:  text-shadow ;
    transition-duration: .3s;
}
.logo_name:hover{
    text-shadow: 0px 0px 10px  white;
}
.nav2 .Logo img{
    padding: 7px;
    width: 45px;
    border: 1px dashed var(--primary);
    border-radius: 50%;
    margin-right: 5px;
}
.nav-link{
    color: white !important;
    font-size: 18px !important;
}
.active{
    background-color: cyan !important;
    color: #09192d !important;
    font-weight: 600 !important;
}
/* Dropdown menu start */
.hover_container {
    position: relative;
    width: max-content;
}
.menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    width: 160px;
    border: 1px solid rgb(214, 199, 199);
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu ul li a {
    text-decoration: none;
    color: rgb(81, 80, 80);
    display: block;
    width: 100%;
    padding-block: 15px;
    padding-left: 5px;
}

.menu ul li a:hover {
    color: rgb(81, 80, 80);

    background-color: rgb(245, 242, 242);
}
.hover_text{
    display: inline-block;
    padding-block: 30px;
}
.hover_container:hover .menu {
    visibility: visible;
    opacity: 1;
}
.fa-angle-down{
    transition: transform .5s;
}
.hover_container:hover .fa-angle-down{
    transform: rotate(180deg);
}
.active2{
    color: white !important;
    background-color: var(--primary) !important;
}
/* Dropdown menu end */
.special{
    padding: 10px 15px;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: .5s;
    cursor: pointer;
}
.special:hover{
    background-color: #21d8ab;
}

/* Page start */
.AM-T{
    color: white;
}
.about-cont{
    padding-top: 100px;
}
.row{
    padding-inline: 20px;
    color: white;
}
.AM-T h1{
    transition-property:  text-shadow ;
    transition-duration: .2s;
    width: fit-content;
    font-weight: 700;
    
}
.AM-T h1:hover{
    text-shadow: 0px 0px 4px white;
}
.AM-T p{
    font-weight: 600;
    font-size: 18px;
}
.my-img img{
    width: 75%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px white;
}
.my-img{
    text-align: center;
}
#skil{
    padding-top: 200px;
}
.skills img{
    width: 70%;
    margin-bottom: 40px;
    text-align: center;
}
.bord{
    text-align: center;
    padding: 30px;
    /* border: 2px solid #0c0d13;
    border-image: linear-gradient(to right, #41699a, #2d3357 ) 1;
    border-width: 4px;
    border-style: solid; */
    /* background: transparent padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 10px;
    border: 4px solid transparent; */
    position: relative;
    transition: transform .2s;
    cursor: pointer;
    

}
.bord::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 5px; 
    background: linear-gradient(45deg, #4c6c94, #18314f);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
    z-index: -100;
}
.bord:hover {
    transform: scale(1.1);
}
.aws{
    margin-bottom: 70px !important;
    margin-top: 35px;

}
.content{
    display: none;
}
.list{
    height: 0;
    overflow: hidden;
}
.projects{
    max-width: 70rem !important;
    padding-top: 150px !important;
}
.projects h1{
    color: white;
    /* margin-bottom: 80px !important;  */
}
.card{
    background-color: rgb(22,42,68,0.9) !important;
    transition: background-color .5s;
}
.card .row{
    padding: 30px 30px;
}
.card img{
    border-radius: 5px;
    transition: transform .5s;
}
.card:hover img{
    transform: scale(1.02);
}
.card .lin{
    width: 30px;
    height: 2px;
    background-color: brown;
    transition: width 0.5s;
}
.card-body{
    padding: 0 !important;
    padding-left: 20px !important;
}
.tags{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tags .tag{
    background-color: rgba(83, 83, 83, .4);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
}
.tags .tag:hover{
    background-color: rgba(224, 211, 211, 0.4) !important;
}
.form-control{
    background-color: transparent !important;
}
label{
    background: transparent;
}
input,textarea {
    color: white !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    height: 50px;
    font-size: 20px !important;
}
input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important; /* or any color you prefer */
}
.contact{
    color: white;
    padding-top: 100px;
    max-width: 70rem !important;
}
/* ::placeholder{
    color: gray !important;
} */
.form-floating > label::after {
    background-color: transparent !important;
    color: white !important;
}
label{
    color: rgb(212, 192, 192) !important;
    font-size: 20px !important;

}
input:user-valid{
    border-color: gold;
}
input:user-invalid{
    border-color: green;
}
.form-floating{
    padding-block: 20px;
}
.sub{
    padding-inline: 20px !important;
    padding-block: 20px !important;
}
.container2, .hide{
    display: none !important;  
}
.footer{
    height: 144px;
    background-image: linear-gradient(to top right,rgba(2, 2, 3, 0.9) , rgb(22,42,68,0.9)60%);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    margin-top: 100px;
    width: 100% !important;
}
.footer .container{
    height: 100%;
}
.footer .row{
    height: 100%;
    display: flex;
    align-items: center;
}
.icon-holder{
    display: flex;
    justify-content: end;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid aqua;
    transition: background 0.5s, color 0.5s;
    margin-left: 10px;
}
.footer a{
    color: inherit;
}
.icon:hover{
    color: black;
    background-color: aqua;
}
.divider{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.line{

    width: 130px;
    height: 4px;
    background-color: white;
    border-radius: 50px;
}
.bi-star-fill{
    font-size: 30px;
}
.top h1{
    font-size: 2.7rem !important;
}
@media  screen and (width < 770px) {
    .container2{
        display: flex !important;
    }
    .hide{
        display: block !important;
    }
    .content{
        display: inline-block;
        font-size: 30px;
        background: transparent;
        color: white;
        border: none;
        transition: transform, 0.5s;

    }
    .nav-pills{
        display: none !important;
    }
    .list{
        color: white !important;
        background: linear-gradient(to right, #0d1d31, #0c0d13);
        border-radius: 5px;
        transition: height .5s, padding .5s;
        position: fixed;
        top: 70px;
        z-index: 1000;
        padding-left: 20px;
    }
    #first_link{
        margin-top: 20px;
    }
    a{
        color: white !important;

    }
    .space{
        height: 0;
    }
    .about-cont{
        padding-top: 50px;
    }
    #skil{
        padding-top: 50px;
    }
    #skil{
        display: none;
    }
    .card-body{
        padding-inline: 0 !important;
        padding-top: 20px !important;
    }
    .row{
        padding: 10px !important;
    }
    .footer .row{
        justify-content: center;
        text-align: center;
    }
    .footer{
        height: 184px;
    }
    .footer .icon-holder{
        justify-content: center;
    padding-bottom: 10px;
    }
    .projects{
        padding-top: 50px !important;
    }
}


